service: lambda-facebook-oauth

plugins:
  - serverless-offline
  - serverless-webpack

custom:
  webpackIncludeModules: true
  stage: "${opt:stage, self:provider.stage}"

provider:
  name: aws
  region: us-west-2
  runtime: nodejs6.10
  memorySize: 1536
  timeout: 10
  versionFunctions: false

functions:
  root:
    handler: jfs.root
    events: 
      - http:
          path: /
          method: get
          cors: true
  auth:
    handler: auth.facebook
    events: 
      - http:
          path: prelaunch/auth/facebook
          method: get
          cors: true
    environment: ${file(env.yaml):${self:custom.stage}}
  register:
    handler: jfs.register
    events: 
      - http:
          path: prelaunch/register
          method: post
          cors: true
    environment: ${file(env.yaml):${self:custom.stage}}
  search:
    handler: jfs.search
    events: 
      - http:
          path: prelaunch/search
          method: get
          cors: true
    environment: ${file(env.yaml):${self:custom.stage}}
  getUser:
    handler: jfs.getUser
    events: 
      - http:
          path: prelaunch/user/{id}
          method: get
          cors: true
          request:
            parameters:
              paths:
                id: true
    environment: ${file(env.yaml):${self:custom.stage}}
  facebookFriends:
    handler: jfs.facebookFriends
    events: 
      - http:
          path: prelaunch/friends
          method: get
          cors: true
    environment: ${file(env.yaml):${self:custom.stage}}
  influence:
    handler: jfs.influence
    events: 
      - http:
          path: prelaunch/influence
          method: get
          cors: true
    environment: ${file(env.yaml):${self:custom.stage}}
  leaderboard:
    handler: jfs.leaderboard
    events: 
      - http:
          path: prelaunch/leaderboard
          method: get
          cors: true
    environment: ${file(env.yaml):${self:custom.stage}}